<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <!--div id="container">
        <div id="wrap">
            <#- partial('_partial/header', null, {cache: !config.relative_link}) #>
            <div class="outer">
                <section id="main"><#- body #></section>
        <# if (theme.sidebar && theme.sidebar !== 'bottom'){ #>
          <#- partial('_partial/sidebar', null, {cache: !config.relative_link}) #>
        <# } #>
      </div>
      <#- partial('_partial/footer', null, {cache: !config.relative_link}) #>
    </div>
    <#- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) #>
    <#- partial('_partial/after-footer') #>
  </div-->
    <!--%= url_for(page.path) %-->
    <!--%= url %-->
    <!--%= path %-->
    <header>
        <% var activeLink = ""; %>
        <% for (var link in site.data.menu) { %>
            <% var match = url_for(page.path).match(new RegExp(url_for(site.data.menu[link]))); %>
            <% var isSelected = !!match; %>
            <% if (isSelected) { %>
                <% activeLink = link; %>
            <% } %>
        <% } %>
        <nav id="mainmenu">
            <ul>
                <% for (var link in site.data.menu) { %>
                    <% if (link === activeLink) { %>
                        <li class="selected">
                    <% } else { %>
                        <li>
                    <% } %>
                        <a href="<%- url_for(site.data.menu[link]) %>"><%= link %></a>
                    </li>
                <% } %>
            </ul>
        </nav>
        <% if (site.data.submenu[activeLink]) { %>
            <nav id="submenu">
                <ul>
                    <% for (var link in site.data.submenu[activeLink]) { %>
                        <li>
                            <a href="<%- site.data.submenu[activeLink][link] %>"><%= link %></a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        <% } %>
    </header>
    <!--nav id="breadcrumb">
        <ul>
            <li>
                <a href="/">Kwasi</a>
            </li>
            <li>
                <a href="/path/">Path</a>
            </li>
            <li>
                <a href="/path/to/">To</a>
            </li>
            <li>
                Article
            </li>
        </ul>
    </nav-->

    <main><%- body %></main>
    <footer>Copyright © 2017 Michael Kwaśnicki. All rights reserved.</footer>

    <%- partial('_partial/after-footer') %>
  </body>
</html>