<article>
  <header>
    <% var photos = (Array.isArray(photos)) ? post.photos : [post.photos]; %>
    <% if (photos && photos.length){ %>
      <figure>
        <% photos.forEach(function(photo, i){ %>
          <img src="<%- photo %>">
        <% }) %>
      </figure>
    <% } %>

    <h1><%= post.title %></h1>
    <small>
      <time datetime="<%= date_xml(post.date) %>"><%= date(post.date, null) %></time>
      <% if (post.author) { %>
        <br />
        by <span><%= post.author %></span>
      <% } %>
    </small>
  </header>
  <section>
    <%- post.content %>
  </section>
</article>
